<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="expense-details-container">
    <div class="mb-3">
      <label class="form-label">Description</label>
      <input type="text" class="form-control" formControlName="description" />
    </div>
    <div class="mb-3">
      <label class="form-label">Amount</label>
      <input
        type="text"
        class="form-control"
        formControlName="amount"
        onkeypress="return /[0-9]/i.test(event.key)"
      />
    </div>
    <div class="mb-3">
      <label class="form-label">Category</label>
      <input type="text" class="form-control" formControlName="category" />
    </div>
  </div>
  <input type="submit" value="Save new expense" class="btn btn-info" />
</form>
