<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="expense-details-container">
    <div class="mb-3">
      <label class="form-label">Description</label>
      <input type="text" class="form-control" formControlName="description" />
    </div>
    <div class="mb-3">
      <label class="form-label">Amount</label>
      <input
        type="text"
        class="form-control"
        formControlName="amount"
        (input)="formatInput($event)"
        onkeypress="return /[0-9]/i.test(event.key)"
      />
    </div>
    <div class="mb-3">
      <label class="form-label">Category</label>
      <select class="form-control" formControlName="category">
        <option value="Apartamento">Apartamento</option>
        <option value="Salidas">Salidas</option>
        <option value="Rappi">Rappi</option>
        <option value="Declaración">Declaración</option>
        <option value="Educación">Educación</option>
        <option value="Cuidados personales">Cuidados personales</option>
        <option value="Fechas Especiales">Fechas Especiales</option>
        <option value="Mascotas">Mascotas</option>
        <option value="Salud">Salud</option>
        <option value="Tiendas">Tiendas</option>
        <option value="Steam">Steam</option>
        <option value="Transporte">Transporte</option>
        <option value="Viaje">Viaje</option>
        <option value="Z. Otros">Z. Otros</option>
      </select>
    </div>
  </div>
  <div class="button-container">
    <input type="submit" value="Save new expense" class="btn btn-submit" />
    <button type="button" class="btn btn-reset" (click)="onReset()">
      Reset
    </button>
  </div>
</form>
