<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <!-- description Column -->
  <ng-container matColumnDef="description">
    <th mat-header-cell mat-column="description" *matHeaderCellDef>
      Description
    </th>
    <td mat-cell mat-column="description" *matCellDef="let element">
      {{ element.description }}
    </td>
  </ng-container>

  <!-- amount Column -->
  <ng-container matColumnDef="amount">
    <th mat-header-cell mat-column="amount" *matHeaderCellDef>Amount</th>
    <td mat-cell mat-column="amount" *matCellDef="let element">
      {{ element.amount | currency : 'USD' : 'symbol' : '1.0-2' }}
    </td>
  </ng-container>

  <!-- category Column -->
  <ng-container matColumnDef="category">
    <th mat-header-cell mat-column="category" *matHeaderCellDef>Category</th>
    <td mat-cell mat-column="category" *matCellDef="let element">
      {{ element.category }}
    </td>
  </ng-container>

  <!-- date Column -->
  <ng-container matColumnDef="date">
    <th mat-header-cell mat-column="date" *matHeaderCellDef>Date</th>
    <td mat-cell mat-column="date" *matCellDef="let element">
      {{ element.date | date : 'MMM d' }}
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
