.grid-container {
  margin: 20px;
}

.dashboard-card {
  position: absolute;
  top: 10px;
  left: 15px;
  right: 15px;
  bottom: 10px;
}

.dashboard-card-content {
  text-align: center;
}

.mat-mdc-card-title {
  position: relative;
  top: -10px;
}

.mat-mdc-card-header {
  margin-bottom: -5px;
}

.mat-mdc-card-content {
  display: block;
  padding: 0px 0px;
}
